body{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    background-color: bisque;
    color: black;
}

h1{
    font-weight: 400;
}

h2{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
}

span{
    text-transform: capitalize;
}

button{
    transition: all 1s ease;
    position: relative;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 300;
    padding: 0.5rem 0.5rem;
    margin: 0.25rem 0.25rem;
    border: 0.25rem #aa7675 solid;
    width: auto;
    text-transform: uppercase;
    background-color: transparent;
    overflow: hidden;    
}

button::before{
  background: #aa7675;
  text-decoration: underline;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

button::before{
    width: 0%;
    height: 100%;
}

button:hover::before{
    width: 100%;
}
