body{
    font-family: "Montserrat", sans-serif;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-weight: 700px;
    text-align: center;
    background-color: black;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #b7094c;
}

h2 {
    color: #892b64;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 20px;
}

p{
    font-size: 2rem;
    font-weight: 400;
    color: white;
}

button {
    background: none;
    /* color: #723c70; */
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.25s;
    border-radius: 10%;
}

button:hover{
    border-color: #0091ad;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #fb5607;
    transform: translateY(0.25em);
    cursor: pointer;
}

#increase-btn{
    background-color: #455e89;
}
#increase-btn:hover{
    background: none;
}

#decrease-btn{
    background-color: #455e89;
}
#decrease-btn:hover{
    background: none;
}
#save-btn{
    background-color: #455e89;
}
#save-btn:hover{
    background: none;
    border-color: lime;
    box-shadow: 0 0.5em 0.5em -0.4em red;

}